<div>
  <h3> <%= offer.title %> </h3>
  <div> <img src="<%= offer.image_url %>" /> </div>
  <span> ₱<%= offer.deal_price %> </span>
  <span class="past-price"> ₱<%= offer.original_price %> </span>
  <div> <%= offer.description %></div>
</div>
